@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
}

:root{
    --primaryColor : rgb(254, 158, 34);
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Navbar CSS */

header{
    background-color: var(--primaryColor);
    max-width: 100vw;
}

.navbar{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: var(--primaryColor);
}

.logo1{
    width: 50px;
    height: auto;
}

.logoText{
    color: rgb(218, 5, 5);
    font-size: 30px;
}

.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.navbarItems{
    display: flex;
    justify-content: center;
}

nav li{
    list-style: none;
    margin-right: 20px;
}

nav li a{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}

nav li a:hover{
    background-color: bisque;
    color: darkorange;
}

nav li .dropDownDiv{
    display: none;
    position: absolute;
    padding: 40px 0;
    /* background-color: coral; */

}

nav li .dropDown{
    padding: 10px 20px;
    background-color: orange;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: transform 2s ease-in-out;
}

nav li .dropDown:hover{
    transform: scale(1.3);
}

nav li .dropDown > li{
    background-color: coral;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    margin-right: 0;
}

nav li .dropDown > li> a{
    font-size: 17px;
}

nav li:hover .dropDownDiv{
    display: block;
}

.barNav{
    display: none;
}

.swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
}

.swiper-slide {
    position: relative;
}

.bannerPic {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: 0; 
}


@media screen and (min-width: 640px) and (max-width: 992px){
    
}


@media screen and (max-width: 640px) {
    .barNav{
        display: block;
        margin-right: 20px;
        font-size: 25px;
        color: brown;
    }

    .navbarItems{
        display: none;
        flex-direction: column;
        background-color: var(--primaryColor);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .logoDiv{
        margin-left: 20px;
    }

    .barNav .smallNavbarItems {
        display: none;
        position: absolute;
        translate: -120px -40px;
        padding-top: 80px;
    }

    .barNav:hover .smallNavbarItems{
        display: block;
    }

    .smallNavbarItems > ul{
        background-color: orange;
        padding-left: 10px;
        border-radius: 10px;
    }

    .smallNavbarItems > ul > li{
        padding-top: 10px;
    }

    .smallNavbarItems > ul > li:last-child{
        padding-bottom: 10px;
    }
    
    .barNav li .smallDropDownDiv{
        display: none;
        position: absolute;
        translate: -200px -40px;
        padding-right: 20px;
    }

    .barNav li:hover .smallDropDownDiv{
        display: block;
    }

    nav li .smallDropDown{
        width: 7em;
        padding: 5px;
        background-color: orange;
        border-radius: 10px;
        transition: transform 2s ease-in-out;
    }

    nav li .smallDropDown > li{
        border-radius: 10px;
        margin-top: 2px;
        padding: 2px;

    }

    nav li .smallDropDown > li:last-child{
        padding-bottom: 10px;
    }
    
    nav li .smallDropDown > li> a{
        font-size: 14px;
        margin-left: 0;
    }
    
    nav li:hover .smallDropDownDiv{
        display: block;
    }
    
    
    
}

